/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after {
  box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: 500;
    font-weight: medium;
}
img{
    max-width: 100%;
    height: auto;
}
.index{


    background: #FDF7F1;
    margin: 0 auto;
    flex-wrap: wrap;
}

.top-menu{
    width: 100%;

    background-color: #FDF7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    position: sticky;
    top: 0;
    left: 0;
}
h1{
    font-size: 28px;
    color: #404040;
}
.top-menu-links{
    display: flex;
    gap: 24px;
}
.link a{
    padding: 4px 12px;
    width: 89px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    gap: 10px;
    text-decoration: none;
}
.link a:hover{
    background: #404040;
    color: #FDF7F1;
}

.top-menu-content{
    width: 100%;
    max-width: 1296px;
    background-color: #FDF7F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    gap: 24px;
}
.profile{
    width: 100%;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 10px;
    background: #FDF7F1;
}

.profile-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1296px;
    gap: 24px;
}
.profile-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
}
.profile-title h2{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #404040;
}
.profile-title p{
    font-weight: 500;
    font-size: 16px;
    color: #404040;
}

.profile-title-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    background: #FDF7F1;
    width: 100%;  
}
.profile-title-link a{
    background: #FDF7F1;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    font-weight: 500;
    border: 1px solid #404040;
}
.profile-title-link a:hover{
    background: #404040;
    color: #FDF7F1;
}
.profile-title-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    background: #FDF7F1;
    width: 100%;
}
.profile-img{
    width: 100%;
}
.profile-img img{
    width: 100%;
    display: block;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 40px;
    background: #24140B;
}
.services-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1296px;
    gap: 40px;
}
.services-content-title{
    width: 100%;
}
.services-content-title h2{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-weight: bold;
}
.services-content-title p{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    font-weight: bold;
}
.services-content-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1296px;
    gap: 24px;
}
.service-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FDF7F1;
    padding: 24px;
    gap: 12px;
}
.top-design{
    width: 100%;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.top-design h2{
    font-size: 16px;
    font-weight: 700;
    font-weight: bold;
    color: #404040;
}
.top-design p{
    font-size: 28px;
    font-weight: 700;
    font-weight: bold;
    color: #404040;
}
.top-design span{
    font-weight: 250;
    font-size: 28px;
    color: #404040;
}
.bottom-design{
    width: 100%;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.bottom-design p{
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}
.bottom-design a{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    background: #404040;
    color: #FFFFFF;
    padding: 12px;
    border: 1px solid;
}
.bottom-design a:hover{
    background: #FFFFFF;
    color: #404040;
}
.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
}
.projects-container{
    width: 100%;
    max-width: 1296px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.projects-container-title{
    width: 100%;
    text-align: center;
}
.projects-container-title h2{
    font-size: 16px;
    font-weight: 700;
    color: #404040;
    font-weight: bold;
}
.projects-container-title p{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #404040;
    font-weight: bold;
}
.projects-container-list{
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects-card{
    width: 100%;
    max-width: 1296px;
    padding: 28px;
    gap: 24px;    
}
.projects-card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 386px;
    background: #FDF7F1;
    padding: 40px;
    gap: 12px;
    text-align: center;
}
.projects-card-text h1{
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}
.projects-card-text h2{
    font-size: 24px;
    font-weight: 700;
    font-weight: bold;
    color: #404040;
}
.projects-card-text p{
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}
.gotoprojects a{
    display: block;
    background: #404040;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #404040;
}
.gotoprojects a:hover{
    background: #FFFFFF;
    color: #404040;
}
.pc01{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_1.png?raw=true);
}
.pc02{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_2.png?raw=true);
}
.pc03{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/project_3.png?raw=true);
}

.projects-container-link a{
    background: #404040;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #404040;
}
.projects-container-link a:hover{
    background: #FFFFFF;
    color: #404040;
}
.blogs{
    width: 100%;
    padding: 80px 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogs-top{
    width: 100%;
    max-width: 1296px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogs-top h2{
    font-size: 16px;
    font-weight: 700;
    color: #404040;
    font-weight: bold;
}
.blogs-top p{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #404040;
    font-weight: bold;
}
.blogs-top-link a{
    background: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    font-weight: 500;
    border: 1px solid #404040;
}
.blogs-top-link a:hover{
    background: #404040;
    color: #FFFFFF;
}
.blogs-container{
    width: 100%;
    max-width: 1296px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
}
.blog-card{
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.blog-card img{
    width: 100%;
}
.blog-card-text{
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-card-text h1{
    font-size: 16px;
    font-weight: 500;
    color: #404040;
}
.blog-card-text p{
    font-size: 24px;
    font-weight: 700;
    font-weight: bold;
    color: #404040;
}
.blog-card-date{
    width: 100%;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #404040;
}
.vs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #404040;
    gap: 12px;
}
.vs p{
    font-size: 14px;
    font-weight: 500;
}
.vs span{
    font-size: 20px;
    font-weight: 250;
}
.subscription{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
       
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription_bg.png?raw=true);
}
.subscription-container{
    width: 100%;
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.subscription-container img{
    max-width: 526px;
}
.subscription-container-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 24px; 
    padding: 80px 40px;
}
.subscription-top-design{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.subscription-top-design h1{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-weight: bold;
}
.subscription-top-design h2{
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2;
}
.subscription-top-design p{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.subscription-bottom-design{
    width: 100%;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    padding: 8px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscription-label{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 12px 24px;
    gap: 2px;
    background: rgba(0,0,0,0);
    border: none;
    width: 100%;
}
.subscription-label::placeholder{
    color: #FFFFFF;
    opacity: 1;
}
.email-enter a{
    display: block;
    width: 81px;
    height: 48px;
    background: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    font-weight: 500;
    font-style: medium;
}
.email-enter a:hover{
    background: rgba(0,0,0,0.2);
    color: #FFFFFF;
}
.contact{
    width: 100%;
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #24140B;
}
.contact-container{
    width: 100%;
    max-width: 1296px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left{
    width: 100%;
    height: 100%;
    max-width: 526px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.footer-left-top{
    width: 100%;
}
.footer-left-top h2{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-weight: bold;
}
.footer-left-top p{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    font-weight: bold;
}
.footer-left-middle{
    width: 100%;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.footer-left-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 68px;
    gap: 24px;
}
.footer-bottom-contact{
    width: 100%;
    display: flex;
    gap: 12px;
}
.footer-link a{
    display: block;
    width: 48px;
    height: 48px;
    padding: 12px;
    gap: 8px;
    border-radius: 1000px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #FFFFFF;
}
.footer-link a:hover{
    background: #FFFFFF;
    color: #24140B;
}
.footer-bottom-email{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
}
.footer-bottom-email span{
    font-size: 18px;
}

.footer-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    gap: 24px;
}
.footer-right-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.frt{
    width: 100%;
    height: 64px;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    padding: 8px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-name-phone-label{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 12px 24px;
    gap: 2px;
    background: #24140B;
    border: none;
    width: 100%;
}
.footer-name-phone-label::placeholder{
    color: #FFFFFF;
    opacity: 1;
}
.footer-right-middle{
    width: 100%;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    padding: 8px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-email-label{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 12px 24px;
    gap: 2px;
    background: #24140B;
    border: none;
    width: 100%;
}
.footer-email-label::placeholder{
    color: #FFFFFF;
    opacity: 1;
}
.footer-right-bottom{
    width: 100%;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    padding: 8px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-note-label{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 40px;
    padding: 12px 24px;
    gap: 2px;
    background: #24140B;
    border: none;
    width: 100%;
    min-height: 120px;
}
.footer-note-label::placeholder{
    color: #FFFFFF;
    opacity: 1;
}
.footer-right-enter{
    width: 100%;
}
.footer-right-enter a{
    display: block;
    width: 100%;
    background: #FFFFFF;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #24140B;
    font-weight: 500;
}
.footer-right-enter a:hover{
    background: #24140B;
    color: #FFFFFF;
}







.btn{
    display: block;
    border: 1px solid var(--color-neutral-700); /* 手機版漢堡選單有一個外框 */
    border-radius: 50%; /* 使外框變成圓形  */
    margin-left: auto;
  }


.d-none{
    display: none;
}
@media (max-width: 375px) {
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
  .profile-content{
    flex-direction: column-reverse;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-left: 12px;
    }
}
@media (max-width: 1336px) {
  /* 調整內距和間距 */
  .subscription-container{
    flex-direction: column;
  }
}
@media (max-width: 1160px) {
  /* 調整內距和間距 */
  .profile-content{
    flex-direction: column-reverse;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-left: 12px;
  }
}
@media (max-width: 992px) {
  /* 並排區塊改直向堆疊 */
  .profile-content{
    flex-direction: column-reverse;
    padding-bottom: 24px;
    padding-left: 12px;
    padding-left: 12px;
  }
  .services-content-list,
  .blogs-container,
  .subscription-container,
  .contact-container,
  .footer-right-top {
    flex-direction: column;
  }

  /* 大標題縮小範例 */
  .profile-title h2 { font-size: 48px; }
  .services-content-title p,
  .projects-container-title p,
  .blogs-top p,
  .subscription-top-design h2,
  .footer-left-top p { font-size: 40px; }
}
@media (max-width: 1160px) {
  /* 調整內距和間距 */
  .profile-img{
margin:0 40px;
  }
}
  